* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
}

.btn-link {
  background-color: white;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}
.bg-link:hover {
  border: 1px solid #0056b3;
}

#number-input {
  min-height: calc(1.5em + 0.75rem + 2px);
  height: 100%;
}

p.form-control {
  background-color: lightgray;
}

#p-show-array,
#p-show-result-task-01,
#p-show-result-task-05,
#p-show-result-task-06,
#p-show-result-task-07,
#p-show-result-task-08,
#p-show-task-09-array {
  min-height: calc(1.5em + 0.75rem + 2px);
  height: auto;
}

.my-dropdown {
  position: relative;
  z-index: 5;
}
.my-dropdown-content {
  min-height: 0px;
  max-height: 0px;
  overflow: hidden;
  transition: min-height 0.5s, max-height 0.25s;
}
.my-dropdown-content.show {
  min-height: 100px;
  max-height: 200px;
}
.my-dropdown-content.show.height-200px {
  min-height: 200px;
  max-height: 400px;
}
.my-dropdown-content.show,
.my-dropdown-content.show.height-200px {
  transition: min-height 0.5s, max-height 1s;
}

/* .my-dropdown-content {
  display: none;
}
.my-dropdown-content.show {
  display: block;
} */
